html,
body {
    height: 100%;
    margin: 0;
    font-family: sans;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: black;
    color: white;
    padding: 0.5em;
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 1fr auto;
    overflow: hidden;
}

.map-menu-container {
    padding: 1em;
    overflow-y: auto;
}

.map-menu-container .map-menu-header {
    margin: 0;
    padding: 0;
}

#map-menu {
    grid-row: 1/3;
    grid-column: 1;
}

#map {
    grid-row: 1/3;
    grid-column: 2/4;
}

.time-player-container {
    padding: 0.5em;
    color: black;
    text-align: center;
    background-color: #53a8b6;
}

#time-player {
    grid-column: 1/4;
    grid-row: 3/4;
}

.time-player-container .time-player-controls-buttons {
    display: inline;
}

.time-player-controls-buttons button {
    text-align: center;
    border: 1px solid silver;
    padding: 0.7em;
    border-radius: 20%;
}

.time-player-controls-buttons button.loop.active {
    background-color: CornFlowerBlue;
}

.time-player-controls-buttons button:active {
    background-color: CornFlowerBlue;
}

.time-player-controls .time-range {
    vertical-align: middle;
    width: 100ch;
}

.time-player-controls .datetime-label {
    display: inline-block;
    width: 25ch;
    font-size: 100%;
}

.time-player-controls .loader {
    width: 3ch;
    height: 3ch;
    display: inline-block;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    visibility: hidden;
    vertical-align: middle;
}

.time-player-controls .loader.loading {
    visibility: visible;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


footer {
    background-color: black;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 90%;
}

.map-menu-products {
    font-size: 90%;
}

.map-menu-products ul {
    padding: 0;
}

.map-menu-products li {
    list-style-type: none;
}

.map-menu-products li.hide {
    display: none;
}
