:root {
    --main-bg-color: #53a8b6;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: black;
    font-weight: normal;
    color: white;
    padding: 0;
    margin: 0;
}

header .logo {
    vertical-align: middle;
    display: inline-block;
    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px 8px inset black;
    height: 36px;
    width: 136px;
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr;
    grid-template-rows: auto 1fr 1fr auto;
    overflow: hidden;
}

.product-list-selection-summary-container {
    grid-column: 1/4;
    background-color: white;
    border-bottom: 0.2em solid var(--main-bg-color);
    padding: 0.5em;
    min-height: 2em;
}

.product-selection-badge {
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    border-radius: 5px;
    font-size: 80%;
    margin: 0.4em;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.product-selection-badge::after {
    margin-left: 1ch;
    content: "\00d7";
}

.map-menu-container {
    padding: 0.2em 1em;
    overflow-y: auto;
    border-right: 0.2em solid var(--main-bg-color);
}

.map-menu-container .map-menu-header {
    margin: 0;
    padding: 0;
}

#map-menu {
    grid-row: 2/4;
    grid-column: 1;
}

#map {
    grid-row: 2/4;
    grid-column: 2/4;
}

.time-player-container {
    padding: 0.5em;
    color: black;
    text-align: center;
    background-color: var(--main-bg-color);
}

#time-player {
    grid-row: 4/5;
    grid-column: 1/4;
}

.time-player-container .time-player-controls-buttons {
    display: inline;
}

.time-player-controls-buttons button {
    text-align: center;
    vertical-align: middle;
    border: 1px solid silver;
    padding: 0.7em;
    border-radius: 20%;
}

.time-player-controls-buttons button.loop.active {
    background-color: CornFlowerBlue;
}

.time-player-controls-buttons button:active {
    background-color: CornFlowerBlue;
}

.time-player-controls-buttons button::before {
    width: 1em;
    height: 1em;
    display: inline-block;
    content: "";
    content: "";
    background-repeat: no-repeat;
    background-size: 1em 1em;
}

.time-player-controls-buttons .step-backward::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-double-left' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/><path fill-rule='evenodd' d='M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.time-player-controls-buttons .play-forward::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-right' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.time-player-controls-buttons .play-forward.playing::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pause' viewBox='0 0 16 16'><path d='M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z'/></svg>");
}

.time-player-controls-buttons .step-forward::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-double-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z'/><path fill-rule='evenodd' d='M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.time-player-controls-buttons .loop::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-clockwise' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z'/><path d='M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z'/></svg>");
}

.time-player-controls .time-range {
    vertical-align: middle;
    width: 100ch;
    color: black;
}

.time-player-controls .datetime-label {
    display: inline-block;
    width: 25ch;
    font-size: 100%;
}

.time-player-controls .loader, .map-menu-products .loader {
    width: 3ch;
    height: 3ch;
    display: inline-block;
    border: 5px solid CornFlowerBlue;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    visibility: hidden;
    vertical-align: middle;
}

.time-player-controls .loader.loading, .map-menu-products .loader.loading {
    visibility: visible;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: black;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 90%;
}

.map-menu-products {
    font-size: 80%;
}

.map-menu-products h2 {
    font-size: 160%;
}

.map-menu-products h3 {
    font-size: 120%;
}

.map-menu-products .map-menu-search input {
    width: 100%;
    padding: 0.5em;
}


.map-menu-products ul {
    padding: 0;
}

.map-menu-products li {
    list-style-type: none;
    display: flex;
}

.map-menu-products li.hide {
    display: none;
}

.map-menu-products li input {
    align-self: baseline;
}
