main {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.left-panel, .right-panel {
    display: grid;
    overflow: hidden;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
}

.left-panel {
    border-right: 2px solid var(--main-bg-color);
}

.right-panel {
    border-left: 2px solid var(--main-bg-color);
}

.product-list-selection-summary-container {
    grid-column: 1/4;
}

.map-menu-container {
    grid-row: 2/4;
    grid-column: 1;
}

.map-container {
    grid-row: 2/4;
    grid-column: 2/4;
}

.time-player-container {
    grid-row: 3/4;
    grid-column: 1/4;
}
